*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f4f6fb;
    font-family:Inter,Segoe UI,sans-serif;
}

.app{
    margin-left:260px;
    min-height:100vh;
}

.content{
    padding:24px;
    margin-top:70px;
}